@model cms_stock.Models.Dominio.Entidades.ArtCentroCusto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h3>Tem a certeza que quer apagar?</h3>
            <div>
                <h4>Artigos | Serviços por Centro de Custo</h4>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        Data
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Data)
                    </dd>
                    <dt class = "col-sm-2">
                        Centro de Custo
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CentroCusto.Nome)
                    </dd>
                    <dt class = "col-sm-2">
                        Artigo
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Artigo.Nome)
                    </dd>
                    <dt class = "col-sm-2">
                        Serviço
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Nomeservico)
                    </dd>
                    <dt class = "col-sm-2">
                        Unidade
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Uniservico)
                    </dd>
                    <dt class = "col-sm-2">
                        Quantidade
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Qtd)
                    </dd>
                    <dt class = "col-sm-2">
                        Valor
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Valor)
                    </dd>
                    <dt class = "col-sm-2">
                        Observações
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Observacoes)
                    </dd>
                </dl>
    
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>