@model cms_stock.Models.Dominio.Entidades.ArtCentroCusto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ArtCentroCusto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroCusto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artigo.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
