@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<cms_stock.Models.Dominio.Entidades.ArtCentroCusto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h1>Movimentos de Artigos | Serviços</h1>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                new X.PagedList.Web.Common.PagedListRenderOptions {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            <form asp-controller="ArtCentroCustos" asp-action="Index">
                <div class="input-group">
                    <p>
                        Centro de Custo | Artigo | Serviço: <input type="text" name="SearchString" />
                        <input type="submit" value="Procurar" />
                    </p>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Centro de Custo
                        </th>
                        <th>
                            Artigo|Serviço
                        </th>
                        <th>
                            Qtd
                        </th>
                        <th>
                            UN.A
                        </th>
                        <th>
                            UN.S
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @if (item.Valor > 0)
                                {
                                    @Html.DisplayFor(modelItem => item.CentroCusto.Nome)
                                }
                                else
                                {
                                <div class="text-danger">
                                    @Html.DisplayFor(modelItem => item.CentroCusto.Nome)
                                </div>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Artigo.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qtd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Artigo.Unidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Uniservico)
                            </td>
                            <td>
                                @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a> }
                                else
                                {
                                    <a asp-action="EditUser" asp-route-id="@item.Id">Edit |</a> } 
                                }
                                @{ if (Context.Request.Cookies["adm_cms_dv"] != null)
                                {
                                <a asp-action="Details" asp-route-id="@item.Id">Details |</a> }
                                else
                                {
                                    <a asp-action="DetailsUser" asp-route-id="@item.Id">Details |</a> } 
                                }
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @section Scripts {
                <link href="https://code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css"
                      rel="stylesheet">
                <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                <script>
                    $(document).ready(function () {
                        $("#artigoNome").autocomplete({
                            source: 'api/apiartigos/search'
                        });
                    });
                </script>

                <script>
                    // Workaround to fix style of text for showing items .. through ..
                    // Problem related to Boostrap 4 according to issue in link below
                    // https://github.com/dncuug/X.PagedList/issues/127
                    $(document).ready(function () {
                        $('ul.pagination > li.disabled > a').addClass('page-link');
                    });
                </script>
            }

        </div>
    </div>
</div>