@model cms_stock.Models.Dominio.Entidades.FuncCentroCusto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h1>Detalhes</h1>
            <div>
                <h4>Funcionários por Centro de Custo</h4>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        Data
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Data)
                    </dd>
                    <dt class = "col-sm-2">
                        CentroCusto
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CentroCusto.Nome)
                    </dd>
                    <dt class = "col-sm-2">
                        Funcionario
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Funcionario.Nome)
                    </dd>
                    <dt class = "col-sm-2">
                        Quantidade
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Qtd)
                    </dd>
                    <dt class = "col-sm-2">
                        Custo Unit.
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ValorUnit)
                    </dd>
                    <dt class = "col-sm-2">
                        Custo Total
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Valor)
                    </dd>
                    <dt class = "col-sm-2">
                        Venda Unit.
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.VVendaUnit)
                    </dd>
                    <dt class = "col-sm-2">
                        Venda Total
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.VVenda)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>