@model IEnumerable<cms_stock.Models.Dominio.Entidades.FuncCentroCusto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h1>Registos Funcionários</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Centro de Custo
                        </th>
                        <th>
                            Funcionário
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CentroCusto.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data, "{0:dd/MM/yyyy}")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qtd)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>