@model IEnumerable<cms_stock.Models.Dominio.Entidades.Pagina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Área Restrita
            </th>
            <th>
                Página de Login?
            </th>
            <th>
                Página de Home?
            </th>
            <th>
                Ordem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @( item.AreaRestrita ? "Sim" : "Não")
            </td>
            <td>
                @( item.Login ? "Sim" : "Não")
            </td>
            <td>
                @( item.Home ? "Sim" : "Não")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
