@model cms_stock.Models.Dominio.Entidades.CentroCusto;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h3>Detalhes da Obra: @Html.DisplayFor(model => model.Nome)</h3>
            <div>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        Data Inicio
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DataInicial)
                    </dd>
                    <dt class = "col-sm-2">
                        Data Final
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DataFinal)
                    </dd>
                    <dt class = "col-sm-2">
                        Finalizada ?
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Fechada)
                    </dd>
                    <dt class = "col-sm-2">
                        Observações
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Observacao)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Voltar</a>
            </div>
        </div>              
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Funcionários: @Html.ActionLink("Editar", "IndexUser", new { controller = "FuncCentroCustos", action = "IndexUser", CCustoid = Model.Id })</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Nome</th>
                                        <th>Tempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["Funcionarios"] as IEnumerable<cms_stock.Models.Dominio.Entidades.FuncCentroCusto>)
                                    {
                                    <tr>
                                        <td>
                                            @String.Format("{0:dd/MM/yyyy}", item.Data)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CalcData)              
                                        </td>
                                    </tr>
                                    } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Equipamentos: @Html.ActionLink("Editar", "IndexUser", new { controller = "EquiCentroCustos", action = "IndexUser", CCustoid = Model.Id })</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Equipamento</th>
                                        <th>Qtd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["Equipamentos"] as IEnumerable<cms_stock.Models.Dominio.Entidades.EquiCentroCusto>)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Equipamento.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qtd)           
                                        </td>
                                    </tr>
                                    } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Artigos | Serviços: @Html.ActionLink("Editar", "IndexUser", new { controller = "ArtCentroCustos", action = "IndexUser", CCustoid = Model.Id })</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Art | Serv</th>
                                        <th>Qtd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["Artigos"] as IEnumerable<cms_stock.Models.Dominio.Entidades.ArtCentroCusto>)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Data)
                                        </td>
                                        <td>
                                            @if(item.ArtigoId != 1048)
                                            {
                                                @Html.DisplayFor(modelItem => item.Artigo.Nome)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.Nomeservico) 
                                            }   
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qtd)             
                                        </td>
                                    </tr>
                                    } 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>