@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<cms_stock.Models.Dominio.Entidades.EquiCentroCusto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutQuixlab.cshtml";
}

<div class="content-body">
    <div class="card">
        <div class="card-body">
            <h1>Movimentos de Equipamentos</h1>
            @Html.PagedListPager(Model, page => Url.Action("IndexUser", new { page }),
                new X.PagedList.Web.Common.PagedListRenderOptions {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            <form asp-controller="EquiCentroCustos" asp-action="IndexUser">
                <div class="input-group">
                    <p>
                        Equipamento: <input type="text" name="searchString" />
                        <input type="submit" value="Procurar" />
                    </p>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Centro de Custo
                        </th>
                        <th>
                            Equipamento
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CentroCusto.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Equipamento.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qtd)
                            </td>
                            <td>
                                <a asp-action="EditUser" asp-route-id="@item.Id">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>